* {
    margin             : 0;
    padding            : 0;
    outline            : none;

    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
}

*:before, *:after {
    box-sizing : inherit;
}

/*************************************************************************
 Basic page formatting including Typography, line heights, rendering of
 content on the page, paragraphs, heading levels 1-6, definition lists
 and more
 *************************************************************************/
body {
    font-family            : Arial, Helvetica, sans-serif;
    background             : #f5f5f5;
    color                  : #444;
    -webkit-font-smoothing : antialiased;
    font-size              : 16px;
    font-weight            : normal;
    height                 : auto !important;
    height                 : 100%;
    min-height             : 100%;
    text-rendering         : optimizeLegibility;
}

p, h1, h2, h3, h4, h5, h6, dl, dt {
    /* Just gives a small gap between paragraphs and headers */
    margin-top    : 0.5rem;
    margin-bottom : 0.5rem;
    padding-top   : 0.5rem;
}

h1 {
    margin-top : 2.5rem;
}

h2 {
    margin-top : 2rem;
}

h3 {
    margin-top : 1.5rem;
}

h4 {
    margin-top : 1.25rem;
}

h5 {
    margin-top : 1.1rem;
}

h1, h2, h3, h4, h5, h6 {
}

dt {
    font-weight : 600;
}

ul,ol {
    margin-left: 1.5rem;
    padding-left: -1.55rem;
}


/*************************************************************************
 Container for the content.
 960px and automatic margins gives a central column for the content
 *************************************************************************/
.container {
    width            : 960px;
    background-color : #fff;
    margin           : 0 auto; /* TRBL [TB=0 LR=auto] */
    padding-bottom   : 1rem;
    position         : relative;
}

/*************************************************************************
 grid container is the grid wrapper that provides teh row by row layout
 ability when combined with the column defiitnions
 *************************************************************************/
.grid {
    width : 100%;
}

.grid:after {
    content : "";
    display : table;
    clear   : both;
}

.grid-pad {
    padding : 20px 0 20px 20px;
}

.grid-pad > [class*='col-']:last-of-type,
.grid-pad > [class*='col-']:last-child {
    padding-right : 20px;
}

/* end grid container */

/*************************************************************************
 column definitions
 *************************************************************************/

/* float all col-* to the left */
[class*='col-'] {
    float      : left;
    margin-top : 0.5rem;
}

/* add padding to the right of the columns */
[class*='col-'] {
    padding-right : 20px;
}

/* if last column, then remove padding */
[class*='col-']:last-of-type {
    padding-right : 0;
}

[class*='col-']:first-of-type {
    padding-left : 0;
}

/* full width column */
.col-1, .col-1-1, .col-2-2, .col-3-3,
.col-4-4, .col-5-5, .col-8-8, .col-10-10 {
    width : 100%;
}

/* 1/3 width column */
.col-1-3 {
    width : 33.3333333%;
}

/* 2/3 width column */
.col-2-3 {
    width : 66.6666666%;
}

/* 1/2 width column */
.col-1-2,
.col-2-4,
.col-4-8,
.col-5-10{
    width : 50%;
}

/* 1/4 width column */
.col-1-4,
.col-2-8 {
    width : 25%;
}

/* 3/4 width column */
.col-3-4,
.col-6-8{
    width : 75%;
}

/* 1/8 width column */
.col-1-8 {
    width : 12.5%;
}

/* 3/8 width column */
.col-3-8 {
    width : 37.5%;
}

/* 5/8 width column */
.col-5-8 {
    width : 62.5%;
}

/* 7/8 width column */
.col-7-8 {
    width : 87.5%;
}

/* 1/10 width column */
.col-1-10 {
    width : 10%;
}

/* 1/5 (2/10) width column */
.col-1-5,
.col-2-10 {
    width : 20%;
}

/* 3/10 width column */
.col-3-10 {
    width : 30%;
}

/* 2/5 (4/10) width column */
.col-2-5,
.col-4-10 {
    width : 40%;
}

/* 1/2 (5/10) width column */
.col-5-10 {
    width : 50%;
}

/* 6/10 width column */
.col-3-5,
.col-6-10 {
    width : 60%;
}

/* 7/10 width column */
.col-7-10 {
    width : 70%;
}

/* 6/10 width column */
.col-4-5,
.col-8-10 {
    width : 80%;
}

/* 9/10 width column */
.col-9-10 {
    width : 90%;
}

/*************************************************************************
 Side Header and Site Footer definitions
 *************************************************************************/
.siteHeader, .siteFooter {
    color            : #f0f0f0;
    padding-top: 0;
    background-color : rgb(118, 157, 198);

}

.siteHeader {
    min-height : 5rem;
}

.siteHeader h1 {
    margin-top: 0.5rem;
}

.siteFooter {
    height : 5rem;
    font-size : 0.7rem;
    padding-top: 0;
    background-color : rgb(118, 157, 198);
}

/*************************************************************************
 Navigation
 *************************************************************************/

nav.vertical {
    width         : 100%;
    margin        : 0;
    padding       : 0;
    list-style    : none;
    border-radius : 4px;
    overflow      : hidden;
    text-align    : left;
    position : relative;
}


nav.vertical ul {
    list-style-type : none;
}

nav.vertical li.listHeading {
    padding        : 1rem 0 0.5rem 0;
    background     : #000;
    color          : #f9f9f9;
    padding        : 0.75rem;
    font-weight    : bold;
    letter-spacing : 0.125rem;
}

nav.vertical a {
    text-decoration : none;
    display         : block;
    font-size       : .85rem;
    font-weight     : 500;
    padding         : 0.75rem;
}

nav.vertical > ul > li {
    display : block;
}

nav.vertical > ul > li > a {
    background-color : rgb(157, 34, 60);
    color            : rgb(255, 255, 255);
}

nav.vertical > ul > li > a:hover {
    background-color : rgba(0,0,0,0.5);
}

nav.vertical > ul > li > div {
    background-color : rgb(255, 255, 255);
}

nav.vertical > ul > li > div > ul {
    list-style-type : none;
}

/*************************************************************************
 Horizontal Navigation with drop-downs and small animations
 *************************************************************************/

nav.horizontal {
    margin     : 0;
    padding    : 0;
    text-align : left;
    width      : 100%;
}

nav.horizontal ul {
    *zoom      : 1;
    list-style : none;
    margin     : 0;
    padding    : 0;
}

nav.horizontal ul:before, nav.horizontal ul:after {
    content : "";
    display : table;
}

nav.horizontal ul:after {
    clear : both;
}

nav.horizontal ul > li {
    float    : left;
    position : relative;
    border-right : 1px solid #000;
}

nav.horizontal ul > li:last-of-type {
    border-right : none;
}

nav.horizontal a {
    display     : block;
    padding     : 0.15rem 1rem;
    line-height : 2rem;
    color       : #fff;
    text-decoration : none;
}

nav.horizontal a:hover {
    text-decoration : none;
    background-color : rgba(0,0,0,0.5);
}

nav.horizontal li ul {
    background-color : rgb(118, 157, 198);
    min-width  : 12rem;
    border: 1px solid #191a1b;
}

nav.horizontal li ul li {
    width : 100%;
    border: none;
}

nav.horizontal li ul a {
    border : none;
}

nav.horizontal li ul a:hover {
    background : rgba(0, 0, 0, 0.4);
}

nav.horizontal li ul {
    position           : absolute;
    left               : -1px; /* same as border width */
    top                : 2.125rem;
    z-index            : 1;
    visibility         : hidden;
    opacity            : 0;
    filter             : alpha(opacity=0);
    -webkit-transition : 1000ms ease;
    -moz-transition    : 1000ms ease;
    -o-transition      : 1000ms ease;
    transition         : 1000ms ease;
}

nav.horizontal ul > li:hover ul {
    visibility : visible;
    opacity    : 1;
    filter     : alpha(opacity=100);
}

/*************************************************************************
 Thumbnail image with caption
 *************************************************************************/

.thumbnail {
    width : 100%;
}

.thumbnail figure {
    position : relative;
}

.thumbnail img {
    width : 100%;
}

.thumbnail figcaption {
    width      : 100%;
    margin     : 0;
    padding    : 0.5rem;
    font-size  : 0.75rem;
    background : rgba(0, 0, 0, 0.75);
    color      : #ccc;
    position   : absolute;
    bottom     : 0;
}

/*************************************************************************
 Thumbnail image with full height caption
 *************************************************************************/

.thumbnail.white figcaption {
    width      : 100%;
    padding    : 0.5rem;
    font-size  : 0.75rem;
    height     : 100%;
    background : rgba(255, 255, 255, 0.75);
    color      : #000;
    position   : absolute;
    bottom     : 0;
    text-align : center;
    display    : block;
}

.thumbnail.white figcaption:hover {
    background : rgba(0, 0, 0, 0.75);
    border     : 5px solid rgba(0, 0, 0, 1);
    color      : #ccc;
}


